<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
<!--    <meta charset="utf-8">-->
    <title>Book Store</title>
    <link rel="stylesheet" href="../static/css/style_book_upload.css">
  </head>
  <body>
    <div class="container">

      <div class="navbar">
        <div id="navbar-left-block">
          <div id="navbar-first-text" >Online Book Store</div>

          <div id="other-page-referals">
              <a style="text-decoration: none" href="/books" >
            <div class ="page-referals-block">
            Download books
            </div>
              </a>

            <div class ="page-referals-block-div" >
              |
              </div>

              <a style="text-decoration: none" href="/upload" >
            <div class ="page-referals-block">
            Upload book
            </div>
              </a>

          </div>


        </div>



        <div sec:authorize="isAuthenticated()" id = "sign-right-block">

            <div id="user-name-navbar-photo">
              <img  width="35" height="35" style="border-radius: 50%;" src="../static/images/user_64.png" alt="user_photo">
            </div>
           <div id="user-name-navbar-text" th:text="${#authentication.name}">somebody</div>
      </div>
          <a sec:authorize="isAnonymous()" style="text-decoration: none" href="/auth" >
              <div  id = "sign-text">
                  Login
              </div>
          </a>

        </div>

      <div class="container-body"  id="container-body">

        <div class="container-block">
          <h1>Contribute to the online book store Page</h1>
          <div class="container-block-body">
              <form class="container-upload-form" enctype="multipart/form-data"  action="/upload" method="post">

                  <div class="container-upload-form-input">
                      <h4>Name: </h4>
                      <label>
                          <input type="text" class="container-upload-form-input-place" name="name" placeholder="enter">
                      </label>
                  </div>

                  <div class="container-upload-form-input">
                      <h4>Genre: </h4>
                      <label>
                          <input type="text" class="container-upload-form-input-place" name="genre" placeholder="enter">
                      </label>

                  </div>

                  <div class="container-upload-form-input">
                      <h4>Year: </h4>
                      <label>
                          <input type="text" class="container-upload-form-input-place" name="year" placeholder="enter">
                      </label>
                  </div>


                  <div  >
      <!--            <div id="choose-file-btn" >-->
                      <label for="choose-file" id="btn-choose-file">
                          <span  id="choose-file-btn-text-span">
                              Upload your books
                          </span>
                      </label>
                      <input id="choose-file" oninput='change_name_file(this.files[0].name,"choose-file-btn-text-span")'
                      style="display: none;" type="file" name="file"  accept="application/pdf" >
      <!--            </div>-->

                 </div>
                 <div  >
                      <label for="choose-photo" id="btn-choose-photo">
                        <span id="choose-photo-btn-text-span">
                            Upload photo for this book
                        </span>
                    </label>
                    <input  id="choose-photo" oninput='change_name_file(this.files[0].name,"choose-photo-btn-text-span")'
                    style="display: none;" type="file"  name="image"  accept="image/*" >


                </div>
                  <div id="submit-btn-div">
                      <button id="submit-btn" type="submit" name="submit">Add</button>
                  </div>
              </form>
          </div>
      </div>

      <div id = "succes-body">
          <div id="succes-body-text">
          <h1>
            Your book Succesfully Uploaded and Added
          </h1>
        </div>
          <div onmouseover="change_succes_button_color(1)" onmouseout="change_succes_button_color(0)" id = 'succes-body-goto-body'>
              Goto main page
          </div>
      </div>


      </div>

      <div class="footer">

        <div id="footer-created-by-jayxunbey">
          Created by Jayxunbey
        </div>

      </div>

    </div>

    <script src="../static/js/for_book_upload.js" ></script>
  </body>
</html>
