<!DOCTYPE html>
<html lang="en"
      dir="ltr"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


  <head>
    <meta charset="utf-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="../static/css/style_books_page.css">
  </head>
  <body>
    <div class="container">

      <div th:fragment="navbar" class="navbar">
        <div id="navbar-left-block">
          <div id="navbar-first-text" >Online Book Store</div>

          <div id="other-page-referals">
              <a style="text-decoration: none" href="/books" >
            <div class ="page-referals-block">
            Download books
            </div></a>

            <div class ="page-referals-block-div" >
              |
              </div>
              <a style="text-decoration: none" href="/upload">
            <div class ="page-referals-block">
            Upload book
            </div>
              </a>

              <div sec:authorize="hasRole('ADMIN')" class ="page-referals-block-div" >
                  |
              </div>

              <a style="text-decoration: none" href="/books" >
                  <div sec:authorize="hasRole('ADMIN')" class ="page-referals-block">
                      Admin Panel
                  </div></a>

              <div sec:authorize="hasRole('MANAGER')" class ="page-referals-block-div" >
                  |
              </div>

              <a style="text-decoration: none" href="/books" >
                  <div sec:authorize="hasRole('MANAGER')" class ="page-referals-block">
                      Manager Panel
                  </div></a>

          </div>


        </div>



          <div sec:authorize="isAuthenticated()" id = "sign-right-block">

              <div id="user-name-navbar-photo">
                  <img  width="35" height="35" style="border-radius: 50%;" src="/static/images/user_64.png" alt="user_photo">
              </div>
              <div id="user-name-navbar-text" th:text="${#authentication.name}">somebody</div>
          </div>

          <a sec:authorize="isAnonymous()" style="text-decoration: none" href="/auth" >
          <div  id = "sign-text">
               Login
          </div>
          </a>

      </div>



      <div class="container-body" id="container-body">

        <div class="books-block" id="books-block">

          <div class="books-block-book-body" th:each="bookObj : ${bookList}">
            <div class="books-block-book-body-info">
                <div class="books-block-book-body-block-img">
                    <img class="books-block-book-body-block-img-value"  src="/static/images/book.png"  alt="book photo" >
                </div>
                <div class="books-block-book-body-about">
                    <div>
                        <h4 class="books-block-book-body-about-name">Name:</h4>
                        <h4 class="books-block-book-body-about-genre">Genre:</h4>
                        <h4 class="books-block-book-body-about-year">Year:</h4>
                    </div>
                    <div >
                        <p  class="books-block-book-body-about-name-value" th:text="${bookObj.getName()}">book name place</p>
                        <p class="books-block-book-body-about-genre-value" th:text="${bookObj.getGenre()}">genres place</p>
                        <p class="books-block-book-body-about-year-value" th:text="${bookObj.getYear()}">year place</p>
                    </div>
                </div>
            </div>
              <a style="text-decoration: none" th:href="@{books/download/book(id=${bookObj.getId()})}">
            <div class="books-block-book-body-down" onclick='backgroundColor = red'>
                Click for Download
            </div>
              </a>
          </div>





        </div>

      </div>

      <div class="footer">

        <div id="footer-created-by-jayxunbey">
          Created by Jayxunbey
        </div>

      </div>

      <script src="../static/js/for_book_download.js"></script>

    </div>
  </body>
</html>
