<!DOCTYPE html>
<html lang="en" dir="ltr"
  xmlns:th="https://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="../static/css/style_signup.css">
  </head>
  <body>
    <div class="container">

      <div class="navbar">
        <div id="navbar-login-text">
          Online Book Store
        </div>
        <div id = "sign-right-block">

          <div id="sign-up-navbar" >
          <a href="/auth/login" style="text-decoration: none">
            login
          </a>
          </div>


      </div>
        </div>



      <div class="container-body">
        
        <div id="sign-forms">
            <form  id="sign-up-form" action="/auth/signup"   method="post">
                <p style="background-color: #ff9e3c" th:text="${cannotRegister}"></p>
                <p style="background-color: #ff9e3c" th:text="${passwordNotEqual}"></p>
              <div>
                <h1 th:text="#{signup}">Sign up</h1>
              </div>
              <div id="input-values-block-sign" th:object="${dto}" >
                <input class="input-form" type="text" name="username" th:field="*{username}" placeholder="Username">

                <p style="background-color: #ffa50f" class="error" th:errors="*{username}"></p>

                <input class="input-form" type="email" name="email"  th:field="*{email}" placeholder="Email">

                <p style="background-color: #ffa50f" class="error" th:errors="*{email}"></p>

                <input class="input-form" type="password" name="new_password" th:field="*{new_password}" placeholder="Password">

                <p style="background-color: #ffa50f" class="error" th:errors="*{repeat_password}"></p>

                <input class="input-form" type="password" name="repeat_password" th:field="*{repeat_password}" placeholder="Repeat password">

                <p style="background-color: #ffa50f" class="error" th:errors="*{repeat_password}"></p>

                <input type="submit" id="subm-btn-form-sign" name="submit" value="signup">

              </div>
            </form>



        </div>

        </div>

      <div class="footer">

        <div id="footer-created-by-jayxunbey">
          Created by Jayxunbey
        </div>
        
      </div>

    </div>
  </body>
</html>
