body{
  padding: 0;
  margin: 0;
  height: screen;

 & .container{
    display: flow-root;
    flex-direction: column;
    margin: 0;



    .navbar{
      display: flex;
      justify-content:space-between;
      background-color:coral;
      
      
      & #navbar-left-block{
        display:flex;
        align-items: center;

        & #navbar-first-text{
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: xx-large;

          margin-right: 25px;
        }

        & #other-page-referals{
          display: flex;
          flex-direction: row;

  
          & .page-referals-block{
            display: flex;
            align-items: center;
            cursor: pointer;

            font-size: 20px;
            margin: 5px;
            margin-top: 20px;

          }

          & .page-referals-block-div{
            margin-top: 20px;
            font-weight:bold;
            font-size:large;
          }
  
        }
      
      }

      

      & #sign-right-block{
        display: flex;

        width: 120px;
        margin-right: 20px;
        flex-direction: row;

        div{
          cursor: pointer;
          font-size: larger;
          
          color:darkblue;
        }

        
          & #user-name-navbar-photo{
          width: 30px;
          align-items: center;
          display: flex;
          justify-content: center;
          img{
              width: "15";
              height: auto;
            }
          }

          & #user-name-navbar-text{
            display: flex;
            justify-content: center;

            padding: 0;
            align-items: center;
            margin-left: 10px;

              font-size:large;
          }

        
    }
    
    
    
       }

    .container-body{
      background-color:antiquewhite;
    
      
      display: flow-root;


      height: auto;
      min-height: 700px;

      .container-block{
        border-collapse: collapse;
        display: flex;


        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;

        .container-block-body{
            width: 300px;

            h1{
              text-align: center;
            }


            .container-upload-form{

                .container-upload-form-input{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 280px;
                    
                    & h4{
                        padding: 3px;
                        color: #1f1e39;
                    }
                    .container-upload-form-input-place{
                        width: 200px;
                        height: 20px;
                        border-radius: 5px;
                        background-color: #b2ffff;
                        font-family: "Arial", sans-serif;
                        color: #1f1e39;
                    }

                }

                & #btn-choose-file{
                    & #choose-file-btn-text-span{


                        border-radius: 10px;
                        display: flex;
                        cursor: pointer;
                        background-color:cyan;
                        border:  2px dashed;
                        width: 300px;
                        height: 100px;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        margin: 10px;
                    }
                }

                & #btn-choose-photo{
                  & #choose-photo-btn-text-span{

                      border-radius: 10px;
                      display: flex;
                      cursor: pointer;
                      background-color:white;
                      border:  2px dashed;
                      width: 300px;
                      height: 100px;
                      justify-content: center;
                      align-items: center;
                      text-align: center;
                      margin: 10px;

                  }
              }


                & #submit-btn-div{

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & #submit-btn{
                      
                      margin-top: 10px;
                        width: 200px;
                        height: 30px;
                        border-radius: 6px;
                    }

                }


            }
        }




    }

    & #succes-body{

      margin-top: 30px;
      display: flex;

      display: none;

      flex-direction: column;
      align-items: center;
      
      & #succes-body-text{
        h1{
          color: green;
        }
        
      }

      & #succes-body-goto-body{

        display: flex;
          margin: 30px;
          align-items: center;
          justify-content: center;
        
          border: 2px groove whitesmoke ;
          cursor: pointer;

          background-color:aqua;
          width: 200px;
          height: 30px;
          border-radius: 5px;

      }

    }
      
      

      }


    .footer{

      background-color:palegreen;

      display: flex;
      flex-direction: column;
      height: 100px;
      align-items: center;
      justify-content: center;
      /* position: absolute; */


        & #footer-created-by-jayxunbey{
            font-size:larger;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          }
      }

  }
}






